@model IEnumerable<Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Models.LogMessageModel>
@{
    ViewBag.Title = "Trace Log Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    td { word-break: break-all; text-align:justify; word-wrap: break-word; white-space:normal; padding-right: 10px; }
    select { width: 90px; }
    #filterPanel { text-align: right; }
</style>

<h2>Trace Logs</h2>

<div id="filterPanel">
@using (Html.BeginForm(null, null, FormMethod.Get, new { id = "traceLogsForm"}))
{
    @Html.Hidden("count", int.Parse(ViewData["Count"].ToString(), System.Globalization.CultureInfo.InvariantCulture))
    @Html.DropDownList(
        "level",
        ViewData["Levels"] as List<SelectListItem>,
        "All",
        new { onchange = "$('#traceLogsForm').submit()" })
}
</div>

<table>
    <tr>
        <th>Level</th>
        <th>DateTime (UTC)</th>
        <th>Role Instance Id</th>
        <th>Message</th>
    </tr>
    @{
        var i = 0;
    }
    @foreach (var item in this.Model)
    {
        i++;
    
        <tr class="d@(i % 2)">
            <td class="left-aligned">
                @item.Level
            </td>
            <td class="left-aligned">
                @item.LogTimestamp
            </td>
            <td class="left-aligned">
                @item.RoleInstanceId
            </td>
            <td class="left-aligned">
                @item.Message
            </td>
        </tr>
    }
</table>