@model Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Models.CertificateModel
@{
    ViewBag.Title = "Certificate Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Certificate Details</h2>

<p>
    @Html.ActionLink("back to certificates list", "Index")
</p>

<fieldset>
    <legend></legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="display-label">
        Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>

<h3>Associated Bindings</h3>

@if (this.Model.Bindings == null || this.Model.Bindings.Count() == 0)
{
    <p>
        No Associated Binding found</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Protocol</th>
                @*<th>IP Address</th>*@
                <th>Port</th>
                <th>Host Name</th>
                <th>Web Site</th>
            </tr>
        </thead>
        <tbody>
            @{
                var i = 0;
            }
            @foreach (var binding in this.Model.Bindings)
            {
                i++;
    
                <tr class="d@(i % 2)">
                    <td class="left-aligned">@binding.Protocol
                    </td>
                    @*<td>@binding.IpAddress
                    </td>*@
                    <td>@binding.Port
                    </td>
                    <td>@binding.HostName
                    </td>
                    <td>
                        @Html.ActionLink(binding.WebSiteName, "Details", "WebSite", new { id = binding.WebSiteId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}