@using Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Extensions

@model Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Models.WebSiteCreateModel

@{
    ViewBag.Title = "New Web Site";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Web Site</h2>
<p>
    @Html.ActionLink("back to web sites list", "Index")
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { style = "width: 600px; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        
        <h3>Binding</h3>
        <div class="comment">
            Note: Only the ports 80 and 443 are open by default. If you want to enable another port in your Windows Azure Accelerator for Web Roles you need to add a new endpoint to your configuration and redeploy the package. See <a href="http://go.microsoft.com/fwlink/?LinkID=221048" target="_blank">here</a> for help.
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Protocol)
        </div>
        <div class="editor-field">
           @* @Html.EditorFor(model => model.Protocol)*@
            @Html.DropDownListFor(model => model.Protocol, new SelectList(
							new string[] { "http", "https" }))
            @Html.DisplayHelpFor(model => model.Protocol, "HelpMessage")
            @Html.ValidationMessageFor(model => model.Protocol)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Port)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Port)
            @Html.DisplayHelpFor(model => model.Port, "HelpMessage")
            @Html.ValidationMessageFor(model => model.Port)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.IpAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IpAddress)
            @Html.DisplayHelpFor(model => model.IpAddress, "HelpMessage")
            @Html.ValidationMessageFor(model => model.IpAddress)
        </div>
*@
        <div class="editor-label">
            @Html.LabelFor(model => model.HostName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HostName)
            @Html.DisplayHelpFor(model => model.HostName, "HelpMessage")
            @Html.ValidationMessageFor(model => model.HostName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CertificateId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.CertificateId, this.Model.Certificates, "Not Selected")
            @Html.DisplayHelpFor(model => model.CertificateId, "HelpMessage")
            @Html.ActionLink("add new", "Create", "Certificate", null, new { target = "_blank" })
            @Html.ValidationMessageFor(model => model.CertificateId)
        </div>

        <div>
            @Html.EditorFor(model => model.EnableTestChildApplication)
            @Html.ValidationMessageFor(model => model.EnableTestChildApplication)
            <label for="EnableTestChildApplication">Enable test site</label>
            @Html.DisplayHelpFor(model => model.EnableTestChildApplication, "HelpMessage")
            <p style="font-size: 13px; font-style: italic;">Allows you to preview your site without setting up DNS entries at <a href="#">http://{yourhostedservice}.cloudapp.net/test/{sitename}</a></p>
        </div>

        <div>
            @Html.EditorFor(model => model.EnableCDNChildApplication)
            @Html.ValidationMessageFor(model => model.EnableCDNChildApplication)
            <label for="EnableTestChildApplication">Enable CDN</label>
            @Html.DisplayHelpFor(model => model.EnableCDNChildApplication, "HelpMessage")
            <p style="font-size: 13px; font-style: italic;">Enable CDN support for your site at <a href="#">http://{yourhostedservice}.cloudapp.net/cdn/{sitename}</a></p>
        </div>

        <p>
            <input type="image" value="Create" src="@Url.Content("~/Content/Create.png")" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    jQuery(document).ready(function () {

        $("#Protocol").change(function () {
            var protocol = $.trim($("#Protocol").val()).toLowerCase();

            switch (protocol) {
                case "http":
                    enableHttp();
                    break;
                case "https":
                    enableHttps();
                    break;
                default:
                    enableOther();
            }
        });

        $("#Protocol").change();
    });

    function enableHttp() {
        $("#CertificateId").val("");
        $("#Port").val("80");
        $("#CertificateId").attr("disabled", "disabled");
    }

    function enableHttps() {
        $("#Port").val("443");
        $("#CertificateId").attr("disabled", "");
    }

    function enableOther() {
        $("#CertificateId").val("");
        $("#HostName").val("");
        $("#Port").val("");
        $("#CertificateId").attr("disabled", "disabled");
    }
</script>