@using Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Extensions
@model Microsoft.Samples.DPE.AzureMultiTenantApp.Web.Models.WebSiteModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Edit Web Site</h2>
<p>
    @Html.ActionLink("back to web sites list", "Index")
</p>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <fieldset>
        <legend></legend>
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        <div class="display-label">
            IIS Site Name
        </div>
        <div class="display-field">
            <span>
                @this.Model.Name
            </span>
        </div>
        <div class="display-label">
            Description
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Description, new { style = "width: 600px; height: 100px;" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div>
            @Html.EditorFor(model => model.EnableTestChildApplication)
            @Html.ValidationMessageFor(model => model.EnableTestChildApplication)
            <label for="EnableTestChildApplication">
                Enable test site</label>
            @Html.DisplayHelpFor(model => model.EnableTestChildApplication, "HelpMessage")
            <p style="font-size: 13px; font-style: italic;">
                Allows you to preview your site without setting up DNS entries at <a href="#">http://{yourhostedservice}.cloudapp.net/test/{sitename}</a></p>
        </div>
        <div>
            @Html.EditorFor(model => model.EnableCDNChildApplication)
            @Html.ValidationMessageFor(model => model.EnableCDNChildApplication)
            <label for="EnableTestChildApplication">
                Enable CDN</label>
            @Html.DisplayHelpFor(model => model.EnableCDNChildApplication, "HelpMessage")
            <p style="font-size: 13px; font-style: italic;">
                Enable CDN support for your site at <a href="#">http://{yourhostedservice}.cloudapp.net/cdn/{sitename}</a></p>
        </div>
        <p>
            <input type="image" value="Save" src="@Url.Content("~/Content/Save.png")" />
        </p>
    </fieldset>
}
<h3>
    Bindings</h3>
<p>
    @Html.ActionLink("add binding", "CreateBinding", new { webSiteId = Model.Id })
</p>
<table>
    <thead>
        <tr>
            <th>
                Protocol
            </th>
            @*            <th>IP Address</th>
*@
            <th>
                Port
            </th>
            <th>
                Host Name
            </th>
            <th>
                Certificate
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int k = 0;
            int nbindings = this.Model.Bindings.Count();
            foreach (var binding in this.Model.Bindings)
            {
                k++;
            <tr class="d@(k % 2)">
                <td class="left-aligned">
                    @binding.Protocol
                </td>
                @*                <td>
                    @binding.IpAddress
                </td>
*@
                <td>
                    @binding.Port
                </td>
                <td>
                    @if (string.IsNullOrEmpty(binding.Url))
                    {
                        @binding.HostName
                    }
                    else
                    {
                        <a href='@binding.Url'>@binding.HostName</a>
                    }
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(binding.CertificateThumbprint))
                    { 
                        <text>N/A</text>
                    }
                    else
                    { 
                        @binding.CertificateThumbprint;
                    }
                </td>
                <td>
                    <a class="button-edit" href="/WebSite/EditBinding/@binding.Id" title="Edit"><span
                        class="ui-icon ui-icon-pencil" style="float: left;" /></a>
                    @if (k != 1 || nbindings != 1)
                    {
                        <a class="button-delete" href="/WebSite/DeleteBinding/@binding.Id" title="Delete"><span
                            class="ui-icon ui-icon-trash" style="float: left;" /></a>
                    }
                    else
                    { 
                        <span></span>
                    }
                </td>
            </tr>
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $(function () {
            $(".button-delete").click(function () {
                return confirm("Are you sure you wish to delete this item?");
            });
        });
    });
</script>
